openapi: 3.2.0
info:
  description: API for Aeternity Middleware
  title: Aeternity Middleware Accounts API
  version: 1.108.2
servers:
- url: https://mainnet.aeternity.io/mdw/v3
  description: Mainnet middleware
- url: https://testnet.aeternity.io/mdw/v3
  description: Testnet middleware
tags:
- name: Accounts
paths:
  /accounts/{accountId}/activities:
    get:
      deprecated: false
      description: Get an account activities.
      operationId: GetAccountActivities
      parameters:
      - name: accountId
        in: path
        description: The account address (can also be a name hash)
        required: true
        schema:
          $ref: '#/components/schemas/AccountAddress'
      - name: owned_only
        in: query
        description: Indicate to filter only activities initiated by the account
        required: false
        schema:
          type: boolean
          example: true
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - transactions
          - aexn
          - aex9
          - aex141
          - contract
          - transfers
          - claims
          - swaps
        description: "Filter by activity type. Supported values:\n * `transactions` - Transactions containing the account in any of the transaction fields\n * `aexn` - AExN (aex9 and aex141) activities\n * `aex9` - AEx9 activities\n * `aex141` - AEx141 activities\n * `contract` - Internal and external contract calls\n * `transfers` - Internal (both gen-based and tx-based) transfers\n * `claims` - Name claims related to the name hash\n * `swaps` - Dex swaps related to the name hash\n"
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/ScopeParam'
      - $ref: '#/components/parameters/DirectionParam'
      responses:
        '200':
          description: Returns paginated activities
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Activity'
                - $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Accounts
      summary: Get account activities
      x-summary-source: derived
  /accounts/{accountId}/aex141/tokens:
    get:
      deprecated: false
      description: Get tokens owned by an account.
      operationId: GetAex141OwnedTokens
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/DirectionParam'
      - description: The account id
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountAddress'
      - description: Collection contract pubkey
        in: query
        name: contract
        required: false
        schema:
          $ref: '#/components/schemas/ContractAddress'
      responses:
        '200':
          description: Returns paginated AEX-141 tokens
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Aex141TokenResponse'
                - $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Accounts
      summary: Get aex141 owned tokens
      x-summary-source: derived
  /accounts/{accountId}/aex9/balances:
    get:
      deprecated: false
      description: Get all AEX9 balances for an account on the last block.
      operationId: GetAex9AccountBalances
      parameters:
      - description: Account id
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountAddress'
      responses:
        '200':
          description: Returns all the balances of an account
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Aex9BalanceResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Accounts
      summary: Get aex9 account balances
      x-summary-source: derived
  /accounts/{accountId}/dex/swaps:
    get:
      deprecated: false
      description: Get DEX swap tokens
      operationId: GetAccountDexSwaps
      parameters:
      - $ref: '#/components/parameters/DirectionParam'
      - in: path
        name: accountId
        required: true
        description: The account id
        schema:
          $ref: '#/components/schemas/AccountAddress'
      responses:
        '200':
          description: Returns paginated list of DEX swaps
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DexSwap'
                - $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Accounts
      summary: Get account dex swaps
      x-summary-source: derived
  /accounts/{accountId}/names/claims:
    get:
      deprecated: false
      description: Get all name claims of an account
      operationId: GetAccountNameClaims
      parameters:
      - name: accountId
        in: path
        description: The account that made the claims
        required: true
        schema:
          $ref: '#/components/schemas/AccountAddress'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/ScopeParam'
      - $ref: '#/components/parameters/DirectionParam'
      responses:
        '200':
          description: Returns the name the active and inactive name claims
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NameClaim'
                - $ref: '#/components/schemas/PaginatedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
      tags:
      - Accounts
      summary: Get account name claims
      x-summary-source: derived
  /accounts/{accountId}/names/pointees:
    get:
      deprecated: false
      operationId: GetAccountPointees
      parameters:
      - name: accountId
        in: path
        description: The account that names point to
        required: true
        schema:
          $ref: '#/components/schemas/AccountAddress'
      responses:
        '200':
          description: Returns the name the active and inactive name pointees
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Pointee'
                - $ref: '#/components/schemas/PaginatedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
      tags:
      - Accounts
      summary: Get account pointees
      x-summary-source: derived
  /accounts/{accountId}/transactions/count:
    get:
      deprecated: false
      description: Get transactions count and its type for given aeternity ID.
      operationId: GetAccountTransactionsCount
      parameters:
      - description: The ID of the address/name/oracle/etc
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountAddress'
      responses:
        '200':
          description: Response schema for transactions count by id
          content:
            application/json:
              schema:
                type: object
                required:
                - total
                properties:
                  contract_create_tx:
                    type: object
                    description: The contract create transactions count
                    properties:
                      owner_id:
                        type: integer
                        description: The number of times the account was owner id in contract create transaction
                  contract_call_tx:
                    type: object
                    description: The contract call transactions count
                    properties:
                      contract_id:
                        type: integer
                        description: The number of times the account was contract id in contract call transaction
                      caller_id:
                        type: integer
                        description: The number of times the account was caller id in contract call transaction
                  ga_attach_tx:
                    type: object
                    description: The ga attach transactions count
                    properties:
                      owner_id:
                        type: integer
                        description: The number of times the account was owner id in ga attach transaction
                  ga_meta_tx:
                    type: object
                    description: The ga meta transactions count
                    properties:
                      ga_id:
                        type: integer
                        description: The number of times the account was ga id in ga meta transaction
                  channel_close_mutual_tx:
                    type: object
                    description: The channel close mutual transactions count
                    properties:
                      channel_id:
                        type: integer
                        description: The number of times the account was channel id in channel close mutual transaction
                      from_id:
                        type: integer
                        description: The number of times the account was from id in channel close mutual transaction
                  channel_close_solo_tx:
                    type: object
                    description: The channel close solo transactions count
                    properties:
                      channel_id:
                        type: integer
                        description: The number of times the account was channel id in channel close solo transaction
                      from_id:
                        type: integer
                        description: The number of times the account was from id in channel close solo transaction
                  channel_create_tx:
                    type: object
                    description: The channel create transactions count
                    properties:
                      initiator_id:
                        type: integer
                        description: The number of times the account was initiator id in channel create transaction
                      responder_id:
                        type: integer
                        description: The number of times the account was responder id in channel create transaction
                  channel_deposit_tx:
                    type: object
                    description: The channel deposit transactions count
                    properties:
                      channel_id:
                        type: integer
                        description: The number of times the account was channel id in channel deposit transaction
                      from_id:
                        type: integer
                        description: The number of times the account was from id in channel deposit transaction
                  channel_force_progress_tx:
                    type: object
                    description: The channel force progress transactions count
                    properties:
                      channel_id:
                        type: integer
                        description: The number of times the account was channel id in channel force progress transaction
                      from_id:
                        type: integer
                        description: The number of times the account was from id in channel force progress transaction
                  channel_set_delegates_tx:
                    type: object
                    description: The channel set delegates transactions count
                    properties:
                      channel_id:
                        type: integer
                        description: The number of times the account was channel id in channel set delegates transaction
                      from_id:
                        type: integer
                        description: The number of times the account was from id in channel set delegates transaction
                  channel_settle_tx:
                    type: object
                    description: The channel settle transactions count
                    properties:
                      channel_id:
                        type: integer
                        description: The number of times the account was channel id in channel settle transaction
                      from_id:
                        type: integer
                        description: The number of times the account was from id in channel settle transaction
                  channel_slash_tx:
                    type: object
                    description: The channel slash transactions count
                    properties:
                      channel_id:
                        type: integer
                        description: The number of times the account was channel id in channel slash transaction
                      from_id:
                        type: integer
                        description: The number of times the account was from id in channel slash transaction
                  channel_snapshot_solo_tx:
                    type: object
                    description: The channel snapshot solo transactions count
                    properties:
                      channel_id:
                        type: integer
                        description: The number of times the account was channel id in channel snapshot solo transaction
                      from_id:
                        type: integer
                        description: The number of times the account was from id in channel snapshot solo transaction
                  channel_withdraw_tx:
                    type: object
                    description: The channel withdraw transactions count
                    properties:
                      channel_id:
                        type: integer
                        description: The number of times the account was channel id in channel withdraw transaction
                      to_id:
                        type: integer
                        description: The number of times the account was to id in channel withdraw transaction
                  name_claim_tx:
                    type: object
                    description: The name claim transactions count
                    properties:
                      account_id:
                        type: integer
                        description: The number of times the account was account id in name claim transaction
                  name_preclaim_tx:
                    type: object
                    description: The name preclaim transactions count
                    properties:
                      account_id:
                        type: integer
                        description: The number of times the account was account id in name preclaim transaction
                      commitment_id:
                        type: integer
                        description: The number of times the account was commitment id in name preclaim transaction
                  name_revoke_tx:
                    type: object
                    description: The name revoke transactions count
                    properties:
                      account_id:
                        type: integer
                        description: The number of times the account was account id in name revoke transaction
                      name_id:
                        type: integer
                        description: The number of times the account was name id in name revoke transaction
                  name_transfer_tx:
                    type: object
                    description: The name transfer transactions count
                    properties:
                      recipient_id:
                        type: integer
                        description: The number of times the account was recipient id in name transfer transaction
                      account_id:
                        type: integer
                        description: The number of times the account was account id in name transfer transaction
                      name_id:
                        type: integer
                        description: The number of times the account was name id in name transfer transaction
                  name_update_tx:
                    type: object
                    description: The name update transactions count
                    properties:
                      account_id:
                        type: integer
                        description: The number of times the account was account id in name update transaction
                      name_id:
                        type: integer
                        description: The number of times the account was name id in name update transaction
                  oracle_extend_tx:
                    type: object
                    description: The oracle extend transactions count
                    properties:
                      oracle_id:
                        type: integer
                        description: The number of times the account was oracle id in oracle extend transaction
                  oracle_query_tx:
                    type: object
                    description: The oracle query transactions count
                    properties:
                      sender_id:
                        type: integer
                        description: The number of times the account was sender id in oracle query transaction
                      oracle_id:
                        type: integer
                        description: The number of times the account was oracle id in oracle query transaction
                  oracle_register_tx:
                    type: object
                    description: The oracle register transactions count
                    properties:
                      account_id:
                        type: integer
                        description: The number of times the account was account id in oracle register transaction
                  oracle_response_tx:
                    type: object
                    description: The oracle response transactions count
                    properties:
                      oracle_id:
                        type: integer
                        description: The number of times the account was oracle id in oracle response transaction
                  paying_for_tx:
                    type: object
                    description: The paying for transactions count
                    properties:
                      payer_id:
                        type: integer
                        description: The number of times the account was payer id in paying for transaction
                  spend_tx:
                    type: object
                    description: The spend transactions count
                    properties:
                      sender_id:
                        type: integer
                        description: The number of times the account was sender id in spend transaction
                      recipient_id:
                        type: integer
                        description: The number of times the account was recipient id in spend transaction
                  channel_offchain_tx:
                    type: object
                    description: The channel offchain transactions count
                    properties:
                      channel_id:
                        type: integer
                        description: The number of times the account was channel id in channel offchain transaction
                  total:
                    type: integer
                    description: The total transactions count
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Accounts
      summary: Get account transactions count
      x-summary-source: derived
components:
  schemas:
    InternalContractCallEvent:
      description: Contract call made inside of a contract call or contract create transaction
      type: object
      properties:
        contract_tx_hash:
          description: The contract creation transaction hash
          $ref: '#/components/schemas/TransactionHash'
        contract_id:
          $ref: '#/components/schemas/ContractAddress'
        call_tx_hash:
          description: The contract call transaction hash
          $ref: '#/components/schemas/TransactionHash'
        function:
          description: The name of the function
          type: string
        internal_tx:
          description: The transaction object
          type: object
        height:
          description: The height in which the internal call happened
          type: integer
        micro_index:
          description: The micro block index
          type: integer
        block_hash:
          description: The micro block hash in which the transaction happened
          $ref: '#/components/schemas/MicroBlockHash'
      required:
      - contract_tx_hash
      - contract_id
      - function
      - internal_tx
      - height
      - micro_index
      - block_hash
    SignedTx:
      type: object
      properties:
        tx:
          $ref: '#/components/schemas/Tx'
        block_height:
          $ref: '#/components/schemas/TxBlockHeight'
        block_hash:
          $ref: '#/components/schemas/EncodedHash'
        hash:
          $ref: '#/components/schemas/EncodedTxHash'
        encoded_tx:
          $ref: '#/components/schemas/EncodedTxByteArray'
        signatures:
          description: At least one signature is required unless for Generalized Account Meta transactions
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/EncodedSignature'
      required:
      - tx
    ChannelSlashTx:
      type: object
      properties:
        channel_id:
          $ref: '#/components/schemas/EncodedPubkey'
        from_id:
          $ref: '#/components/schemas/EncodedPubkey'
        payload:
          description: Base64Check encoded byte array. Accepted on input as a plain 'ba_'-prefixed byte array (see aehttp_dispatch_int.erl's produce_tx(channel_slash_tx, ...)), but returned by the node as a 'tx_'-prefixed transaction (see aesc_slash_tx.erl) -- no single prefix pattern covers both.
          type: string
        ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        nonce:
          $ref: '#/components/schemas/UInt64'
        poi:
          $ref: '#/components/schemas/EncodedProofOfInclusion'
      required:
      - channel_id
      - from_id
      - payload
      - fee
      - poi
    OracleRespondTx:
      type: object
      properties:
        query_id:
          $ref: '#/components/schemas/EncodedOracleQueryId'
        response:
          type: string
        response_ttl:
          $ref: '#/components/schemas/RelativeTTL'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        oracle_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - query_id
      - response
      - response_ttl
      - fee
      - oracle_id
    EncodedNameId:
      description: Base58Check encoded AENS name hash
      type: string
      example: nm_psy8tRXPzGxh6975H7K6XQcMFVsdrxJMt7YkzMY8oUTevutzw
      pattern: ^nm_\w+$
    ChannelSetDelegatesTx:
      type: object
      properties:
        channel_id:
          $ref: '#/components/schemas/EncodedPubkey'
        from_id:
          $ref: '#/components/schemas/EncodedPubkey'
        initiator_delegate_ids:
          type: array
          items:
            $ref: '#/components/schemas/EncodedPubkey'
        responder_delegate_ids:
          type: array
          items:
            $ref: '#/components/schemas/EncodedPubkey'
        state_hash:
          $ref: '#/components/schemas/EncodedPubkey'
        round:
          $ref: '#/components/schemas/UInt64'
        payload:
          description: Base64Check encoded byte array. Accepted on input as a plain 'ba_'-prefixed byte array (see aehttp_dispatch_int.erl's produce_tx(channel_set_delegates_tx, ...)), but returned by the node as a 'tx_'-prefixed transaction (see aesc_set_delegates_tx.erl) -- no single prefix pattern covers both.
          type: string
        ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - channel_id
      - from_id
      - initiator_delegate_ids
      - responder_delegate_ids
      - state_hash
      - round
      - payload
      - fee
    MdwContractCallExtras:
      type: object
      required:
      - arguments
      - function
      - log
      - result
      - return
      properties:
        arguments:
          type: array
          items:
            type: object
            required:
            - type
            - value
            properties:
              type:
                type: string
              value:
                type: string
          example:
          - type: int
            value: 1
          - type: string
            value: hello
        function:
          type: string
          example: main
        log:
          type: array
          items:
            type: object
            required:
            - address
            - data
            - topics
            properties:
              address:
                type: string
              data:
                type: string
              topics:
                type: array
                items:
                  type: string
          example:
          - address: ct_2U1usf3A8ZNUcZLkZe5rEoBTxk7eJvk9fcbRDNqmRiwXCHAYN
            data: cb_+Jg==
            topics:
            - topic1
            - topic2
        result:
          type: string
          example: ok
          enum:
          - ok
          - error
          - revert
        return:
          type: object
          required:
          - type
          - value
          properties:
            type:
              type: string
            value:
              type: string
          example:
            type: int
            value: 1
    Aex9TransferEvent:
      description: AEx9 Transfer
      type: object
      required:
      - amount
      - block_height
      - contract_id
      - log_idx
      - micro_index
      - micro_time
      - recipient_id
      - sender_id
      - tx_hash
      properties:
        amount:
          type: integer
          example: 9975080
        block_height:
          type: integer
          example: 534443
        contract_id:
          $ref: '#/components/schemas/ContractAddress'
        log_idx:
          type: integer
          example: 0
        micro_index:
          type: integer
          example: 4
        micro_time:
          type: integer
          example: 1640350612991
        recipient_id:
          $ref: '#/components/schemas/AccountAddress'
        sender_id:
          $ref: '#/components/schemas/AccountAddress'
        tx_hash:
          $ref: '#/components/schemas/TransactionHash'
    PayingForTx:
      type: object
      properties:
        payer_id:
          $ref: '#/components/schemas/EncodedPubkey'
        fee:
          $ref: '#/components/schemas/UInt'
        nonce:
          $ref: '#/components/schemas/UInt64'
        tx:
          $ref: '#/components/schemas/SignedTx'
      required:
      - payer_id
      - fee
      - tx
    OracleAddress:
      description: Oracle address
      type: string
      example: ok_2t7TnocFw7oCYSS7g2yGutZMpGEJta6dq2DTX38SmuqmwtN6Ch
      pattern: ^ok_\w{38,50}$
    MdwName:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          example: test.chain
    EncodedPubkey:
      description: Base58Check encoded tagged pubkey
      type: string
    Transaction:
      description: Transaction
      type: object
      required:
      - block_hash
      - block_height
      - encoded_tx
      - hash
      - micro_index
      - micro_time
      - signatures
      - tx
      properties:
        block_hash:
          $ref: '#/components/schemas/MicroBlockHash'
        block_height:
          description: The block height
          type: integer
        encoded_tx:
          $ref: '#/components/schemas/TransactionEncoded'
        hash:
          $ref: '#/components/schemas/TransactionHash'
        micro_index:
          description: The micro block index
          type: integer
        micro_time:
          description: The unix timestamp
          type: integer
        signatures:
          description: The signatures
          type: array
          items:
            $ref: '#/components/schemas/Signature'
        tx:
          description: The transaction
          $ref: '#/components/schemas/MdwTx'
      example:
        block_hash: mh_ufiYLdN8am8fBxMnb6xq2K4MQKo4eFSCF5bgixq4EzKMtDUXP
        block_height: 1
        hash: th_2FHxDzpQMRTiRfpYRV3eCcsheHr1sjf9waxk7z6JDTVcgqZRXR
        encoded_tx: tx_+IQLAfhCuED6AOECECJDXntSS/dj034AJ20Ed+xE4FrgvlEI8PPBziK1VwEBaT73ZlNOiMCC9u7CEUow8YZefEiJ97ppfd8GuDz4OiABoQH+GsB85Crb3bTZQOTQxfR79trkBfFyAvBtzs5utqqbqkCJdmxzYS50ZXN0e4YTGXGKUACCsztl3yJX
        micro_index: 0
        micro_time: 1543375246712
        signatures:
        - sg_Fipyxq5f3JS9CB3AQVCw1v9skqNBw1cdfe5W3h1t2MkviU19GQckERQZkqkaXWKowdTUvr7B1QbtWdHjJHQcZApwVDdP9
        tx:
          amount: 150425
          fee: 101014
          nonce: 1
          payload: ba_NzkwOTIxLTgwMTAxOGSbElc=
          recipient_id: ak_26dopN3U2zgfJG4Ao4J4ZvLTf5mqr7WAgLAq6WxjxuSapZhQg5
          sender_id: ak_26dopN3U2zgfJG4Ao4J4ZvLTf5mqr7WAgLAq6WxjxuSapZhQg5
          type: SpendTx
          version: 1
          ttl: 10000
    UInt:
      oneOf:
      - type: integer
        minimum: 0
      - type: string
    MdwContractCreateExtras:
      type: object
      required:
      - args
      - caller_id
      - compiler_version
      - contract_id
      - return_value
      - source_hash
      properties:
        args:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              value:
                type: string
          example:
          - type: int
            value: 1
          - type: string
            value: hello
        caller_id:
          $ref: '#/components/schemas/AccountAddress'
        compiler_version:
          type: string
          example: 8.0.0
        contract_id:
          $ref: '#/components/schemas/ContractAddress'
        return_value:
          type: string
          example: cb_Xfbg4g==
        source_hash:
          type: string
          example: cb_Xfbg4gasdasdasdasdadasdasd==
    ChannelForceProgressTx:
      type: object
      properties:
        channel_id:
          $ref: '#/components/schemas/EncodedPubkey'
        from_id:
          $ref: '#/components/schemas/EncodedPubkey'
        payload:
          $ref: '#/components/schemas/EncodedTxByteArray'
        round:
          $ref: '#/components/schemas/UInt64'
        update:
          $ref: '#/components/schemas/OffChainUpdate'
        state_hash:
          $ref: '#/components/schemas/EncodedHash'
        ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        nonce:
          $ref: '#/components/schemas/UInt64'
        offchain_trees:
          $ref: '#/components/schemas/EncodedStateTrees'
      required:
      - channel_id
      - from_id
      - payload
      - round
      - update
      - state_hash
      - fee
    EncodedByteArray:
      description: Base64Check encoded byte array
      type: string
      example: ba_AAAAAfy4hFE=
      pattern: ^ba_[0-9A-Za-z+/=]+$
    Aex141TransferEvent:
      description: AEx141 Transfer
      type: object
      required:
      - block_height
      - contract_id
      - log_idx
      - micro_index
      - micro_time
      - recipient
      - sender
      - token_id
      - tx_hash
      properties:
        block_height:
          type: integer
          example: 653289
        contract_id:
          $ref: '#/components/schemas/ContractAddress'
        log_idx:
          type: integer
          example: 0
        micro_index:
          type: integer
          example: 125
        micro_time:
          type: integer
          example: 1662654259282
        recipient:
          $ref: '#/components/schemas/AccountAddress'
        sender:
          $ref: '#/components/schemas/AccountAddress'
        token_id:
          type: integer
          example: 1
        tx_hash:
          $ref: '#/components/schemas/TransactionHash'
    NameString:
      description: AENS name
      type: string
      example: trustwallet.chain
      pattern: ^\w+\.chain$
    NameHash:
      description: AENS name hash
      type: string
      example: nm_psy8tRXPzGxh6975H7K6XQcMFVsdrxJMt7YkzMY8oUTevutzw
      pattern: ^nm_\w{38,50}$
    NamePreclaimTx:
      type: object
      properties:
        commitment_id:
          $ref: '#/components/schemas/EncodedCommitmentId'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        account_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - commitment_id
      - fee
      - account_id
    ChannelCloseMutualTx:
      type: object
      properties:
        channel_id:
          $ref: '#/components/schemas/EncodedPubkey'
        from_id:
          $ref: '#/components/schemas/EncodedPubkey'
        initiator_amount_final:
          $ref: '#/components/schemas/UInt'
        responder_amount_final:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt64'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - channel_id
      - from_id
      - initiator_amount_final
      - responder_amount_final
      - fee
      - nonce
    MdwTx:
      description: The node transaction with the fields added by the mdw
      allOf:
      - type: object
        required:
        - type
        - version
        properties:
          type:
            type: string
          version:
            type: integer
      - oneOf:
        - title: ChannelCloseMutualTx
          allOf:
          - $ref: '#/components/schemas/ChannelResponderInitiator'
          - $ref: '#/components/schemas/ChannelCloseMutualTx'
        - title: ChannelCloseSoloTx
          allOf:
          - $ref: '#/components/schemas/ChannelCloseSoloTx'
          - $ref: '#/components/schemas/ChannelResponderInitiatorRound'
        - title: ChannelCreateTx
          allOf:
          - $ref: '#/components/schemas/ChannelCreateTx'
          - type: object
            required:
            - channel_id
            properties:
              channel_id:
                $ref: '#/components/schemas/ChannelId'
        - $ref: '#/components/schemas/ChannelDepositTx'
        - title: ChannelForceProgressTx
          allOf:
          - $ref: '#/components/schemas/ChannelForceProgressTx'
          - $ref: '#/components/schemas/ChannelResponderInitiator'
        - title: ChannelSettleTx
          allOf:
          - $ref: '#/components/schemas/ChannelSettleTx'
          - $ref: '#/components/schemas/ChannelResponderInitiator'
        - title: ChannelSlashTx
          allOf:
          - $ref: '#/components/schemas/ChannelSlashTx'
          - $ref: '#/components/schemas/ChannelResponderInitiatorRound'
        - title: ChannelSnapshotSoloTx
          allOf:
          - $ref: '#/components/schemas/ChannelSnapshotSoloTx'
          - $ref: '#/components/schemas/ChannelResponderInitiatorRound'
        - $ref: '#/components/schemas/ChannelWithdrawTx'
        - title: ContractCallTx
          allOf:
          - $ref: '#/components/schemas/ContractCallTx'
          - $ref: '#/components/schemas/MdwContractCommonExtras'
          - $ref: '#/components/schemas/MdwContractCallExtras'
        - title: ContractCreateTx
          allOf:
          - $ref: '#/components/schemas/ContractCreateTx'
          - $ref: '#/components/schemas/MdwContractCommonExtras'
          - $ref: '#/components/schemas/MdwContractCreateExtras'
        - title: GAAttachTx
          allOf:
          - $ref: '#/components/schemas/GAAttachTx'
          - type: object
            required:
            - args
            - auth_fun_name
            - contract_id
            - gas_used
            - return_type
            properties:
              args:
                type: array
                items:
                  type: string
              auth_fun_name:
                type: string
              contract_id:
                $ref: '#/components/schemas/ContractAddress'
              gas_used:
                type: integer
              return_type:
                $ref: '#/components/schemas/GAReturnType'
        - title: GAMetaTx
          allOf:
          - $ref: '#/components/schemas/GAMetaTx'
          - type: object
            required:
            - gas_used
            - return_type
            properties:
              gas_used:
                type: integer
              return_type:
                $ref: '#/components/schemas/GAReturnType'
        - title: NameClaimTx
          allOf:
          - $ref: '#/components/schemas/NameClaimTx'
          - type: object
            required:
            - name_id
            properties:
              name_id:
                $ref: '#/components/schemas/NameHash'
        - $ref: '#/components/schemas/NamePreclaimTx'
        - title: NameRevokeTx
          allOf:
          - $ref: '#/components/schemas/NameRevokeTx'
          - $ref: '#/components/schemas/MdwName'
        - title: NameTransferTx
          allOf:
          - $ref: '#/components/schemas/NameTransferTx'
          - $ref: '#/components/schemas/MdwName'
        - title: NameUpdateTx
          allOf:
          - $ref: '#/components/schemas/NameUpdateTx'
          - $ref: '#/components/schemas/MdwName'
        - $ref: '#/components/schemas/OracleExtendTx'
        - title: OracleQueryTx
          allOf:
          - $ref: '#/components/schemas/OracleQueryTx'
          - type: object
            required:
            - query_id
            properties:
              query_id:
                $ref: '#/components/schemas/OracleQueryId'
        - title: OracleRegisterTx
          allOf:
          - $ref: '#/components/schemas/OracleRegisterTx'
          - type: object
            required:
            - oracle_id
            properties:
              oracle_id:
                $ref: '#/components/schemas/OracleAddress'
        - $ref: '#/components/schemas/OracleRespondTx'
        - $ref: '#/components/schemas/PayingForTx'
        - $ref: '#/components/schemas/SpendTx'
      discriminator:
        propertyName: type
        mapping:
          ChannelCloseMutualTx: '#/components/schemas/ChannelCloseMutualTx'
          ChannelCloseSoloTx: '#/components/schemas/ChannelCloseSoloTx'
          ChannelCreateTx: '#/components/schemas/ChannelCreateTx'
          ChannelDepositTx: '#/components/schemas/ChannelDepositTx'
          ChannelForceProgressTx: '#/components/schemas/ChannelForceProgressTx'
          ChannelSettleTx: '#/components/schemas/ChannelSettleTx'
          ChannelSlashTx: '#/components/schemas/ChannelSlashTx'
          ChannelSnapshotSoloTx: '#/components/schemas/ChannelSnapshotSoloTx'
          ChannelWithdrawTx: '#/components/schemas/ChannelWithdrawTx'
          ContractCallTx: '#/components/schemas/ContractCallTx'
          ContractCreateTx: '#/components/schemas/ContractCreateTx'
          GAAttachTx: '#/components/schemas/GAAttachTx'
          GAMetaTx: '#/components/schemas/GAMetaTx'
          NameClaimTx: '#/components/schemas/NameClaimTx'
          NamePreclaimTx: '#/components/schemas/NamePreclaimTx'
          NameRevokeTx: '#/components/schemas/NameRevokeTx'
          NameTransferTx: '#/components/schemas/NameTransferTx'
          NameUpdateTx: '#/components/schemas/NameUpdateTx'
          OracleExtendTx: '#/components/schemas/OracleExtendTx'
          OracleQueryTx: '#/components/schemas/OracleQueryTx'
          OracleRegisterTx: '#/components/schemas/OracleRegisterTx'
          OracleRespondTx: '#/components/schemas/OracleRespondTx'
          PayingForTx: '#/components/schemas/PayingForTx'
          SpendTx: '#/components/schemas/SpendTx'
      type: object
    MicroBlockHash:
      description: Micro block hash
      type: string
      example: mh_2Zfo2ALfRkKQxEaUj3HhcUGyMrTqYpDMgr2u15fPanYD1d55kz
      pattern: ^mh_\w{38,50}$
    ChannelId:
      type: string
      pattern: ^ch_\w{38,50}$
      example: ch_2VfzXmCRZepB3ichPf3WTt2uf8zMqsyY3cZWg8k1vt3xcu8L8V
    NotFoundResponse:
      description: Resource not found on the API
      type: object
      example:
        error: 'not found: th_2Twp3pJeVuwQ7cMSdPQRfpAUWwdMiwx6coVMpRaNSuzFRnDZF'
      properties:
        error:
          description: The message of the error raised
          type: string
      required:
      - error
      title: Not found response
    EncodedSignature:
      description: Base58Check encoded signature
      type: string
      example: sg_8hhU15cVMbukFj4FbdrFwwYnbzXYPnstu9PDnWZGbfQNpeHcB6tK1F3wvG1MPYySARgDRJYUh3YPJD3HctFwg6Y4rUGSR
      pattern: ^sg_\w+$
    InternalTransferEvent:
      description: Internal transfer
      type: object
      properties:
        amount:
          description: The amount of AE tokens
          type: integer
        kind:
          description: The kind of internal transfer
          type: string
          enum:
          - accounts_extra_lima
          - accounts_fortuna
          - accounts_roma
          - accounts_lima
          - accounts_minerva
          - contracts_lima
          - reward_dev
          - reward_block
          - fee_refund_oracle
          - fee_lock_name
          - fee_refund_name
          - fee_spend_name
          - reward_oracle
        ref_tx_hash:
          description: The transaction hash of a transaction related to the internal transfer
          $ref: '#/components/schemas/TransactionHash'
      required:
      - amount
      - kind
      - ref_tx_hash
    ContractCreateTx:
      type: object
      properties:
        owner_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
        code:
          $ref: '#/components/schemas/EncodedContractByteArray'
        vm_version:
          $ref: '#/components/schemas/UInt16'
        abi_version:
          $ref: '#/components/schemas/UInt16'
        deposit:
          $ref: '#/components/schemas/UInt'
        amount:
          $ref: '#/components/schemas/UInt'
        gas:
          $ref: '#/components/schemas/UInt64'
        gas_price:
          $ref: '#/components/schemas/UInt'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        call_data:
          $ref: '#/components/schemas/EncodedContractByteArray'
      required:
      - owner_id
      - code
      - vm_version
      - abi_version
      - deposit
      - amount
      - gas
      - gas_price
      - fee
      - call_data
    ChannelDepositTx:
      type: object
      properties:
        channel_id:
          $ref: '#/components/schemas/EncodedPubkey'
        from_id:
          $ref: '#/components/schemas/EncodedPubkey'
        amount:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        nonce:
          $ref: '#/components/schemas/UInt64'
        state_hash:
          $ref: '#/components/schemas/EncodedHash'
        round:
          $ref: '#/components/schemas/UInt64'
      required:
      - channel_id
      - from_id
      - amount
      - fee
      - nonce
      - state_hash
      - round
    NameUpdateTx:
      type: object
      properties:
        name_id:
          $ref: '#/components/schemas/EncodedNameId'
        name_ttl:
          $ref: '#/components/schemas/UInt64'
        pointers:
          type: array
          items:
            $ref: '#/components/schemas/NamePointer'
        client_ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        account_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - name_id
      - name_ttl
      - client_ttl
      - pointers
      - fee
      - account_id
    MdwContractCommonExtras:
      type: object
      required:
      - aexn_type
      - gas_used
      - return_type
      properties:
        aexn_type:
          type:
          - string
          - 'null'
          example: aex9
          enum:
          - aex9
          - aex141
        gas_used:
          type: integer
          example: 1000
        return_type:
          type: string
          example: ok
          enum:
          - ok
          - error
        ttl:
          type: integer
          example: 1000
    Aex9BalanceResponse:
      description: Response Schema for AEX9 balance responses
      example:
        amount: 4.999999999990685e+25
        decimals: 18
        block_hash: kh_2QevaXY7ULF5kTLsddwMzzZmBYWPgfaQbg2Y8maZDLKJaPhwDJ
        contract_id: ct_RDRJC5EySx4TcLtGRWYrXfNgyWzEDzssThJYPd9kdLeS5ECaA
        height: 351666
        token_name: BBA
        token_symbol: BBA
        tx_hash: th_27V4UmRhyeSuPEDieXVuAdE3v42dDnLzPY6uism1bFhHCPfWKv
        tx_index: 10848881
        tx_type: contract_create_tx
      properties:
        amount:
          description: Amount of AEX9 token
          type: integer
        block_hash:
          description: Block hash, indicating a state of a balance for that block
          type: integer
        contract_id:
          description: Contract id of AEX9 token
          $ref: '#/components/schemas/ContractAddress'
        decimals:
          description: Number of decimals of AEX9 token
          type: integer
        height:
          description: Block height, indicating a state of a balance for that block height
          type: integer
        token_name:
          description: Name of AEX9 token
          type: string
        token_symbol:
          description: Symbol of AEX9 token
          type: string
        tx_hash:
          description: Transaction hash, indicating a state of a balance for that block height
          $ref: '#/components/schemas/TransactionHash'
        tx_index:
          description: Transaction index, indicating a state of a balance for that block height
          type: integer
        tx_type:
          description: Transaction type, indicating a state of a balance for that block height
          type: string
          enum:
          - ContractCreateTx
          - ContractCallTx
      required:
      - amount
      - block_hash
      - contract_id
      - decimals
      - height
      - token_name
      - token_symbol
      - tx_hash
      - tx_index
      - tx_type
      title: Response for AEX-9 account balance
      type: object
    UInt16:
      oneOf:
      - type: integer
        minimum: 0
        maximum: 65535
      - type: string
    RelativeTTL:
      type: object
      properties:
        type:
          type: string
          enum:
          - delta
        value:
          $ref: '#/components/schemas/UInt64'
      required:
      - type
      - value
    UInt64:
      oneOf:
      - type: integer
        minimum: 0
        maximum: 18446744073709552000
      - type: string
    ChannelResponderInitiator:
      type: object
      required:
      - responder_id
      - initiator_id
      properties:
        initiator_id:
          $ref: '#/components/schemas/AccountAddress'
        responder_id:
          $ref: '#/components/schemas/AccountAddress'
    NamePointer:
      type: object
      properties:
        key:
          type: string
        encoded_key:
          $ref: '#/components/schemas/EncodedByteArray'
        id:
          $ref: '#/components/schemas/EncodedPubkey'
      required:
      - key
      - id
    DexSwap:
      description: DEX swap
      type: object
      properties:
        amounts:
          type: object
          required:
          - amount0_in
          - amount1_in
          - amount0_out
          - amount1_out
          properties:
            amount0_in:
              type: integer
              example: 1000050
            amount1_in:
              type: integer
              example: 1000060
            amount0_out:
              type: integer
              example: 1000070
            amount1_out:
              type: integer
              example: 1000080
        action:
          type: string
          enum:
          - SWAP
          - BUY
          - SELL
          example: SWAP
        caller:
          $ref: '#/components/schemas/AccountAddress'
        from_token:
          type: string
          example: TK1
        to_token:
          type: string
          example: TK2
        log_idx:
          type: integer
          example: 0
        to_account:
          $ref: '#/components/schemas/AccountAddress'
        tx_hash:
          $ref: '#/components/schemas/TransactionHash'
        from_contract:
          $ref: '#/components/schemas/ContractAddress'
        to_contract:
          $ref: '#/components/schemas/ContractAddress'
        from_amount:
          type: integer
          example: 1000050
        to_amount:
          type: integer
          example: 1000060
        from_decimals:
          type: integer
          example: 18
        to_decimals:
          type: integer
          example: 18
        micro_time:
          type: integer
          example: 1629820800000
        height:
          type: integer
          example: 123456
      required:
      - amounts
      - action
      - caller
      - from_token
      - to_token
      - log_idx
      - to_account
      - tx_hash
      - from_contract
      - to_contract
      - from_amount
      - to_amount
      - from_decimals
      - to_decimals
      - micro_time
      - height
    OracleExtendTx:
      type: object
      properties:
        fee:
          $ref: '#/components/schemas/UInt'
        oracle_ttl:
          $ref: '#/components/schemas/RelativeTTL'
        oracle_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
        ttl:
          $ref: '#/components/schemas/UInt64'
      required:
      - fee
      - oracle_ttl
      - oracle_id
    EncodedOracleQueryId:
      description: Base58Check encoded oracle query id
      type: string
      example: oq_psy8tRXPzGxh6975H7K6XQcMFVsdrxJMt7YkzMY8oUTevutzw
      pattern: ^oq_\w+$
    Delegates:
      oneOf:
      - type: array
        items:
          $ref: '#/components/schemas/EncodedPubkey'
      - type: object
        properties:
          initiator:
            type: array
            items:
              $ref: '#/components/schemas/EncodedPubkey'
          responder:
            type: array
            items:
              $ref: '#/components/schemas/EncodedPubkey'
    AccountAddress:
      description: Account address
      type: string
      example: ak_psy8tRXPzGxh6975H7K6XQcMFVsdrxJMt7YkzMY8oUTevutzw
      pattern: ^ak_\w{38,50}$
    NameClaim:
      description: Name Claim
      type: object
      required:
      - active_from
      - source_tx_hash
      - source_tx_type
      - block_hash
      - height
      - tx
      properties:
        active_from:
          type: integer
          example: 163282
        source_tx_hash:
          $ref: '#/components/schemas/TransactionHash'
        source_tx_type:
          type: string
          enum:
          - NameClaimTx
          - ContractCallTx
          example: NameClaimTx
        block_hash:
          $ref: '#/components/schemas/MicroBlockHash'
        height:
          type: integer
          example: 45784
        tx:
          oneOf:
          - $ref: '#/components/schemas/NameClaimTx'
          - $ref: '#/components/schemas/ContractCallTx'
          example:
            account_id: ak_2JJNMYcnqPaABiSY5omockmv4cCoZefv4XzStAxKe9gM2xYz2r
            fee: 16540000000000
            name: 1996.chain
            name_fee: 134626900000000000000
            name_salt: 7095609104934055
            nonce: 225
            ttl: 818002
        internal_source:
          type: boolean
    SpendTx:
      allOf:
      - $ref: '#/components/schemas/SpendTxInput'
      - required:
        - nonce
    TransactionEncoded:
      description: Encoded transaction
      type: string
      example: tx_+E8hAaEB4TK48d23oE5jt/qWR5pUu8UlpTGn8bwM5JISGQMGf7ABoQOvDVCf43V7alNbsUvTarXaCf7rjtWX36YLS4+JTa4jn4YPHaUyOAAAxRZ6Sg==
      pattern: ^tx_\w+$
    Tx:
      allOf:
      - type: object
        discriminator:
          propertyName: type
        properties:
          version:
            $ref: '#/components/schemas/UInt32'
          type:
            type: string
            enum:
            - SpendTx
            - ChannelCreateTx
            - ChannelDepositTx
            - ChannelWithdrawTx
            - ChannelForceProgressTx
            - ChannelCloseMutualTx
            - ChannelCloseSoloTx
            - ChannelSlashTx
            - ChannelSettleTx
            - ChannelSnapshotSoloTx
            - ChannelSetDelegatesTx
            - OracleRegisterTx
            - OracleExtendTx
            - OracleQueryTx
            - OracleRespondTx
            - NamePreclaimTx
            - NameClaimTx
            - NameUpdateTx
            - NameTransferTx
            - NameRevokeTx
            - ContractCreateTx
            - ContractCallTx
            - GAAttachTx
            - GAMetaTx
            - PayingForTx
        required:
        - version
        - type
      - anyOf:
        - $ref: '#/components/schemas/SpendTx'
        - $ref: '#/components/schemas/ChannelCreateTx'
        - $ref: '#/components/schemas/ChannelDepositTx'
        - $ref: '#/components/schemas/ChannelWithdrawTx'
        - $ref: '#/components/schemas/ChannelForceProgressTx'
        - $ref: '#/components/schemas/ChannelCloseMutualTx'
        - $ref: '#/components/schemas/ChannelCloseSoloTx'
        - $ref: '#/components/schemas/ChannelSlashTx'
        - $ref: '#/components/schemas/ChannelSettleTx'
        - $ref: '#/components/schemas/ChannelSnapshotSoloTx'
        - $ref: '#/components/schemas/ChannelSetDelegatesTx'
        - $ref: '#/components/schemas/OracleRegisterTx'
        - $ref: '#/components/schemas/OracleExtendTx'
        - $ref: '#/components/schemas/OracleQueryTx'
        - $ref: '#/components/schemas/OracleRespondTx'
        - $ref: '#/components/schemas/NamePreclaimTx'
        - $ref: '#/components/schemas/NameClaimTx'
        - $ref: '#/components/schemas/NameUpdateTx'
        - $ref: '#/components/schemas/NameTransferTx'
        - $ref: '#/components/schemas/NameRevokeTx'
        - $ref: '#/components/schemas/ContractCreateTx'
        - $ref: '#/components/schemas/ContractCallTx'
        - $ref: '#/components/schemas/GAAttachTx'
        - $ref: '#/components/schemas/GAMetaTx'
        - $ref: '#/components/schemas/PayingForTx'
    EncodedTxByteArray:
      description: Base64Check encoded transaction
      type: string
      example: tx_+E8hAaEB4TK48d23oE5jt/qWR5pUu8UlpTGn8bwM5JISGQMGf7ABoQOvDVCf43V7alNbsUvTarXaCf7rjtWX36YLS4+JTa4jn4YPHaUyOAAAxRZ6Sg==
      pattern: ^tx_[0-9A-Za-z+/=]+$
    OffChainUpdate:
      type: object
      discriminator:
        propertyName: op
      properties:
        op:
          type: string
      required:
      - op
    GAAttachTx:
      type: object
      properties:
        owner_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
        code:
          $ref: '#/components/schemas/EncodedContractByteArray'
        vm_version:
          $ref: '#/components/schemas/UInt16'
        abi_version:
          $ref: '#/components/schemas/UInt16'
        gas:
          $ref: '#/components/schemas/UInt64'
        gas_price:
          $ref: '#/components/schemas/UInt'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        call_data:
          $ref: '#/components/schemas/EncodedContractByteArray'
        auth_fun:
          description: Contract authorization function hash (hex encoded)
          type: string
          pattern: ^(0x|0X)?[a-fA-F0-9]+$
      required:
      - owner_id
      - code
      - vm_version
      - abi_version
      - gas
      - gas_price
      - fee
      - call_data
      - auth_fun
    Pointee:
      description: Pointee
      type: object
      required:
      - active
      - name
      - key
      - block_hash
      - tx
      - source_tx_type
      - source_tx_hash
      - block_height
      - block_time
      properties:
        active:
          type: boolean
          example: true
        name:
          $ref: '#/components/schemas/NameString'
        key:
          type: string
          example: account_pubkey
        block_hash:
          $ref: '#/components/schemas/MicroBlockHash'
        tx:
          oneOf:
          - $ref: '#/components/schemas/NameUpdateTx'
          - $ref: '#/components/schemas/ContractCallTx'
          example:
            account_id: ak_2CXSVZqVaGuZsmcRs3CN6wb2b9GKtf7Arwej7ahbeAQ1S8qkmM
            client_ttl: 36000
            fee: 20000000000000
            name_id: nm_2tokSd7X5zeYzAr5icomaVLBYC3TGeCypsPjZALcQcxYZb4YdP
            name_ttl: 50000
            nonce: 3544
            pointers:
            - id: ak_M6MNwGLtMQ4j3m8pzQz9uF38nMfjCCVaiQ8fvTAU6DEsCocD5
              key: account_pubkey
            ttl: 60000
        source_tx_type:
          type: string
          enum:
          - NameUpdateTx
          - ContractCallTx
          example: NameUpdateTx
        source_tx_hash:
          $ref: '#/components/schemas/TransactionHash'
        block_height:
          type: integer
          example: 45784
        block_time:
          type: integer
          example: 1687575562705
    OracleQueryTx:
      type: object
      properties:
        oracle_id:
          $ref: '#/components/schemas/EncodedPubkey'
        query:
          type: string
        query_fee:
          $ref: '#/components/schemas/UInt'
        query_ttl:
          $ref: '#/components/schemas/TTL'
        response_ttl:
          $ref: '#/components/schemas/RelativeTTL'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        sender_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - oracle_id
      - query
      - query_fee
      - query_ttl
      - response_ttl
      - fee
      - sender_id
    EncodedProofOfInclusion:
      description: Base64Check encoded proof of inclusion
      type: string
      pattern: ^pi_[0-9A-Za-z+/=]+$
    ChannelWithdrawTx:
      type: object
      properties:
        channel_id:
          $ref: '#/components/schemas/EncodedPubkey'
        to_id:
          $ref: '#/components/schemas/EncodedPubkey'
        amount:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        nonce:
          $ref: '#/components/schemas/UInt64'
        state_hash:
          $ref: '#/components/schemas/EncodedHash'
        round:
          $ref: '#/components/schemas/UInt64'
      required:
      - channel_id
      - to_id
      - amount
      - fee
      - nonce
      - state_hash
      - round
    EncodedStateTrees:
      description: Base64Check encoded state trees
      type: string
      pattern: ^ss_[0-9A-Za-z+/=]+$
    EncodedContractByteArray:
      description: Base64Check encoded contract byte array
      type: string
      example: cb_AAAAAfy4hFE=
      pattern: ^cb_[0-9A-Za-z+/=]+$
    ChannelCreateTx:
      type: object
      properties:
        initiator_id:
          $ref: '#/components/schemas/EncodedPubkey'
        initiator_amount:
          $ref: '#/components/schemas/UInt'
        responder_id:
          $ref: '#/components/schemas/EncodedPubkey'
        responder_amount:
          $ref: '#/components/schemas/UInt'
        channel_reserve:
          $ref: '#/components/schemas/UInt'
        lock_period:
          $ref: '#/components/schemas/UInt64'
        ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        nonce:
          $ref: '#/components/schemas/UInt64'
        state_hash:
          $ref: '#/components/schemas/EncodedHash'
        delegate_ids:
          $ref: '#/components/schemas/Delegates'
      required:
      - initiator_id
      - initiator_amount
      - responder_id
      - responder_amount
      - channel_reserve
      - lock_period
      - fee
      - state_hash
    NameClaimTx:
      type: object
      properties:
        name:
          type: string
        name_salt:
          $ref: '#/components/schemas/UInt'
        name_fee:
          $ref: '#/components/schemas/UInt'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        account_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - name
      - name_salt
      - fee
      - account_id
    GAReturnType:
      type: string
      example: ok
      enum:
      - ok
      - error
    ChannelCloseSoloTx:
      type: object
      properties:
        channel_id:
          $ref: '#/components/schemas/EncodedPubkey'
        from_id:
          $ref: '#/components/schemas/EncodedPubkey'
        payload:
          description: Base64Check encoded byte array. Accepted on input as a plain 'ba_'-prefixed byte array (see aehttp_dispatch_int.erl's produce_tx(channel_close_solo_tx, ...)), but returned by the node as a 'tx_'-prefixed transaction (see aesc_close_solo_tx.erl) -- no single prefix pattern covers both.
          type: string
        ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        nonce:
          $ref: '#/components/schemas/UInt64'
        poi:
          $ref: '#/components/schemas/EncodedProofOfInclusion'
      required:
      - channel_id
      - from_id
      - payload
      - fee
      - poi
    UInt32:
      oneOf:
      - type: integer
        minimum: 0
        maximum: 4294967295
      - type: string
    PaginatedResponse:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
          example: /blocks?cursor=123
        prev:
          type:
          - string
          - 'null'
          example: /blocks?cursor=234
      required:
      - next
      - prev
    SpendTxInput:
      type: object
      properties:
        recipient_id:
          $ref: '#/components/schemas/EncodedPubkey'
        amount:
          $ref: '#/components/schemas/UInt'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        sender_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
        payload:
          description: Base64Check encoded byte array, or a raw string
      required:
      - recipient_id
      - amount
      - fee
      - sender_id
      - payload
    EncodedCommitmentId:
      description: Base58Check encoded AENS commitment
      type: string
      example: cm_psy8tRXPzGxh6975H7K6XQcMFVsdrxJMt7YkzMY8oUTevutzw
      pattern: ^cm_\w+$
    ContractCallTx:
      type: object
      properties:
        caller_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
        contract_id:
          $ref: '#/components/schemas/EncodedPubkey'
        abi_version:
          $ref: '#/components/schemas/UInt16'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        amount:
          $ref: '#/components/schemas/UInt'
        gas:
          $ref: '#/components/schemas/UInt64'
        gas_price:
          $ref: '#/components/schemas/UInt'
        call_data:
          $ref: '#/components/schemas/EncodedContractByteArray'
      required:
      - caller_id
      - contract_id
      - abi_version
      - fee
      - amount
      - gas
      - gas_price
      - call_data
    TxBlockHeight:
      oneOf:
      - type: integer
        minimum: -1
        maximum: 18446744073709552000
      - type: string
    ErrorResponse:
      description: Error response from the API
      type: object
      example:
        error: 'invalid id: th_2Twp3pJeVuwQ7cMSdPQRfpAUWwdMiwx6coVMpRaNSuzFRnDZF'
      properties:
        error:
          description: The message of the error raised
          type: string
      required:
      - error
      title: Error response
    NameTransferTx:
      type: object
      properties:
        name_id:
          $ref: '#/components/schemas/EncodedNameId'
        recipient_id:
          $ref: '#/components/schemas/EncodedPubkey'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        account_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - name_id
      - recipient_id
      - fee
      - account_id
    TransactionHash:
      description: Transaction hash
      type: string
      example: th_2Zfo2ALfRkKQxEaUj3HhcUGyMrTqYpDMgr2u15fPanYD1d55kz
      pattern: ^th_\w{38,50}$
    ContractAddress:
      description: Contract address
      type: string
      example: ct_2t7TnocFw7oCYSS7g2yGutZMpGEJta6dq2DTX38SmuqmwtN6Ch
      pattern: ^ct_\w{38,50}$
    EncodedHash:
      description: Base58Check encoded tagged hash
      type: string
    OracleQueryId:
      description: Oracle query ID
      type: string
      example: oq_2t7TnocFw7oCYSS7g2yGutZMpGEJta6dq2DTX38SmuqmwtN6Ch
      pattern: ^oq_\w{38,50}$
    TTL:
      type: object
      properties:
        type:
          type: string
          enum:
          - delta
          - block
        value:
          $ref: '#/components/schemas/UInt64'
      required:
      - type
      - value
    NameRevokeTx:
      type: object
      properties:
        name_id:
          $ref: '#/components/schemas/EncodedNameId'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        account_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - name_id
      - fee
      - account_id
    Aex141TokenResponse:
      description: Response Schema for owners of AEX-141 tokens
      example:
        contract_id: ct_2oq4kSd4j1VkkbupueXLdHwYEJdY8Ntzvp1FFkMB1gYyXkYPcV
        owner_id: ak_vTGaRAuGXPLhvNexrbzmHJ2MDv9JS2Ky7u2v469o6weaZ2Cgw
        token_id: 1
      properties:
        contract_id:
          description: NFT contract id
          $ref: '#/components/schemas/ContractAddress'
        owner_id:
          $ref: '#/components/schemas/AccountAddress'
        token_id:
          description: Non-fungible token id
          type: integer
      required:
      - contract_id
      - account_id
      - token_id
      title: Aex141OwnedTokenResponse
      type: object
    Signature:
      description: Signature
      type: string
      example: sg_8hhU15cVMbukFj4FbdrFwwYnbzXYPnstu9PDnWZGbfQNpeHcB6tK1F3wvG1MPYySARgDRJYUh3YPJD3HctFwg6Y4rUGSR
      pattern: ^sg_\w+$
    ChannelSettleTx:
      type: object
      properties:
        channel_id:
          $ref: '#/components/schemas/EncodedPubkey'
        from_id:
          $ref: '#/components/schemas/EncodedPubkey'
        initiator_amount_final:
          $ref: '#/components/schemas/UInt'
        responder_amount_final:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - channel_id
      - from_id
      - initiator_amount_final
      - responder_amount_final
      - fee
      - nonce
    ChannelSnapshotSoloTx:
      type: object
      properties:
        channel_id:
          $ref: '#/components/schemas/EncodedPubkey'
        from_id:
          $ref: '#/components/schemas/EncodedPubkey'
        payload:
          description: Base64Check encoded byte array. Accepted on input as a plain 'ba_'-prefixed byte array (see aehttp_dispatch_int.erl's produce_tx(channel_snapshot_solo_tx, ...)), but returned by the node as a 'tx_'-prefixed transaction (see aesc_snapshot_solo_tx.erl) -- no single prefix pattern covers both.
          type: string
        ttl:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        nonce:
          $ref: '#/components/schemas/UInt64'
      required:
      - channel_id
      - from_id
      - payload
      - fee
    EncodedTxHash:
      description: Base58Check encoded transaction hash
      type: string
      example: th_2Zfo2ALfRkKQxEaUj3HhcUGyMrTqYpDMgr2u15fPanYD1d55kz
      pattern: ^th_\w+$
    ChannelResponderInitiatorRound:
      type: object
      allOf:
      - $ref: '#/components/schemas/ChannelResponderInitiator'
      - type: object
        required:
        - round
        properties:
          round:
            type: integer
    Activity:
      description: Activity related to an account
      type: object
      properties:
        block_hash:
          $ref: '#/components/schemas/MicroBlockHash'
        block_time:
          description: The time in which the block happened
          type: integer
          example: 1587577771376
        height:
          description: The block height
          type: integer
        type:
          description: The event type
          type: string
          enum:
          - SpendTxEvent
          - OracleRegisterTxEvent
          - OracleExtendTxEvent
          - OracleQueryTxEvent
          - OracleResponseTxEvent
          - NamePreclaimTxEvent
          - NameClaimTxEvent
          - NameTransferTxEvent
          - NameUpdateTxEvent
          - NameRevokeTxEvent
          - ContractCreateTxEvent
          - ContractCallTxEvent
          - GaAttachTxEvent
          - GaMetaTxEvent
          - ChannelCreateTxEvent
          - ChannelDepositTxEvent
          - ChannelWithdrawTxEvent
          - ChannelForceProgressTxEvent
          - ChannelCloseMutualTxEvent
          - ChannelCloseSoloTxEvent
          - ChannelSlashTxEvent
          - ChannelSettleTxEvent
          - ChannelSnapshotSoloTxEvent
          - ChannelSetDelegatesTxEvent
          - ChannelOffchainTxEvent
          - ChannelClientReconnectTxEvent
          - PayingForTxEvent
        payload:
          type: object
          oneOf:
          - $ref: '#/components/schemas/Transaction'
          - $ref: '#/components/schemas/Aex9TransferEvent'
          - $ref: '#/components/schemas/Aex141TransferEvent'
          - $ref: '#/components/schemas/InternalContractCallEvent'
          - $ref: '#/components/schemas/InternalTransferEvent'
      required:
      - block_hash
      - block_time
      - height
      - type
      - payload
    OracleRegisterTx:
      type: object
      properties:
        query_format:
          type: string
        response_format:
          type: string
        query_fee:
          $ref: '#/components/schemas/UInt'
        oracle_ttl:
          $ref: '#/components/schemas/TTL'
        account_id:
          $ref: '#/components/schemas/EncodedPubkey'
        nonce:
          $ref: '#/components/schemas/UInt64'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        abi_version:
          $ref: '#/components/schemas/UInt16'
      required:
      - query_format
      - response_format
      - query_fee
      - fee
      - oracle_ttl
      - account_id
    GAMetaTx:
      type: object
      properties:
        ga_id:
          $ref: '#/components/schemas/EncodedPubkey'
        abi_version:
          $ref: '#/components/schemas/UInt16'
        gas:
          $ref: '#/components/schemas/UInt64'
        gas_price:
          $ref: '#/components/schemas/UInt'
        fee:
          $ref: '#/components/schemas/UInt'
        ttl:
          $ref: '#/components/schemas/UInt64'
        auth_data:
          $ref: '#/components/schemas/EncodedContractByteArray'
        tx:
          $ref: '#/components/schemas/SignedTx'
      required:
      - ga_id
      - abi_version
      - gas
      - gas_price
      - fee
      - auth_data
      - tx
  parameters:
    LimitParam:
      in: query
      name: limit
      description: Limit paginated resources (max 100)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    ScopeParam:
      in: query
      name: scope
      description: Scopes results in a generation range
      schema:
        type: string
        pattern: (gen):\d+(-\d+)?
    DirectionParam:
      in: query
      name: direction
      description: Sorts results in forwards or backwards direction
      schema:
        type: string
        enum:
        - forward
        - backward
